html {
    font-size: 62.5%;
    height: 100%;
    font-family: arial, verdana, sans-serif;
}

body {
    height: 100%;
    font-size: 2rem;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background: url('../images/chat3.jpg') no-repeat center;
    background-size: 100% 100%;
    overflow-x: hidden;
}


.main-chat
{

    background: #73b38a;
    opacity: 0.9;
    border-radius: 5px;
    color: #fff;
    /*float:left;*/
    font-size:14px;
    font-weight:bold;
    height:500px;
    /*margin:50px auto auto 70px;*/
    text-align:center;
    width:240px;
    position:absolute;
    top:50px;
    left:70px;
    border: 2px dotted #73b38a ;

}

.header{
    height:15%;
    background: #FFFFFF;
    opacity: .9;
}
.header img{
    position: absolute;
    left:50%;
    top:12%;
    margin-left: -33px;
    border-radius: 50%;
    overflow: hidden;
    height:60px;
    width: 60px;
    /*margin-top: 30px;*/
    border: 3px solid #73b38a;
}

#userID{
    color: black;
    padding-top: 30px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 600;
}


#news
{
    width: 200px;
    height: 13px;
    font-weight: bold;
}
#news li
{
    height: 16px;
    line-height: 16px;
    list-style: none;
    color: #226B19;
}
#news a
{
    text-decoration: none;
    color: #9E3423;
}


#chat-list {
    width: 216px;
    height: 280px;
    float: left;
    margin: 50px 10px;
    color: black;
    font-size: 15px;
    border: 2px solid blanchedalmond;
    background: #FFFFFF;
    opacity:.9;
}

.chat03_title {
    background: #73b38a;
    opacity:.8;
    height: 30px;
    position: relative;
}


.chat03_title_t {

    position: absolute;
    padding-left: 25px;
    top: 8px;
    left: 20px;
    display: block;
    width: auto;
    height: 15px;
    font-size: 12px;
    font-weight: bold;
}
.chat03_content {
     text-align: left;
     font-size: 12px;
     color: #333;
     margin: 8px 0px;
 }
.chat03_name {
    color: #333;
    position: absolute;
    top: 9px;
    left: 40px;
    display: block;
}

.chat03_content ul {
}

.chat03_content ul li {
    position: relative;
    padding: 3px 6px;
    height: 31px;
    _padding-bottom: 0px;
}

.chat03_content ul li.hover {
    background: #ebeef3;
}

.chat03_content ul li.choosed {
    background: #73b38a;
    opacity:.8;
}

.chat03_content ul li a {
}

.chat03_content ul img {
    width: 30px;
    height: 30px;
}












.search-wrapper{
    position: absolute;
    top:85%;
    left:2px;
    right: 0;
    height: 50px;


}

.search-wrapper .input-holder{
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    width: 230px;
    background: rgba(0,0,0,0.5);

}
.search-wrapper .input-holder .search-input{
    width:100%;
    height:50px;
    padding:0 60px 0 35px;
    position:absolute;
    top:0px;
    left: 0px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
}
.search-wrapper .input-holder .search-icon {
    width: 35px;
    height: 35px;
    margin: 7px;
    border:none;
    border-radius: 30px;
    float: right;
    cursor: pointer;
}

.search-wrapper .input-holder .search-icon span {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
}


.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 13px;
    left: 9px;
    top: 15px;
    border-radius: 2px;
    background: #73b38a;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 20px;
    height: 20px;
    left: 3px;
    top: -3px;
    border-radius: 16px;
    border: 4px solid #73b38a;
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content: '';
}

.dialog{
    width:400px;
    height:500px;


    border-radius: 5px;
    color: #fff;
    font-size:14px;
    font-weight:bold;
    float: left;
    margin:50px auto auto 495px;
    text-align:center;
    background-color: #FFFFFF;
    border: 1px solid #73b38a;
    box-shadow: 5px 5px 5px #73b38a;
    left:0;
    opacity:0.9;
    position: fixed;
    top: 0;
    z-index: 1110;

}
.dialog .head {
    height: 60px;
    color: #fff;
    font-weight: 600;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73b38a), color-stop(1, #73b38a)); /* Saf4+, Chrome */
    opacity:0.9;
    font-size: 16px;
    text-align: left ;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 10px;

}

.dialog .head span{
    letter-spacing: 5px;
    margin-left: 8px;
}
.dialog .dialog-content{
    height:380px;
    overflow-x: scroll;
    overflow-y: auto;
    resize: vertical;

}
.message_box {
    display: none;
    _width: 550px;
}

.message {
    border-bottom: 1px solid #EEE;
    clear: both;
    padding: 10px 10px 10px 0;
    position: relative;
    margin: 0px 10px;
}

.message .wrap-text {
    float: left;
    margin-left: 10px;
    display: inline;
    width: 360px;
    overflow: hidden;
    resize: none;
    color:black;
    text-align: left;
}

.message h5 {
    color: #369;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    margin-left: -7px;
}

.message .wrap-text div {

    word-break: break-all;
    word-wrap: break-word;
    font-weight: 400;
    position:relative;
    width:300px;
    height:auto;
    padding:6px;
    background:#F8C301;
    border-radius:5px; /* 圆角 */
    margin:0 60px;
    display: inline-block;
}
.message .wrap-text div .arrow {
    position:absolute;
    top:5px;
    left:-75px; /* 圆角的位置需要细心调试哦 */
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:#fff #F8C301 #fff #fff;
    padding:0;
}
.message .wrap-ri {
    float: right;
    /*width: 110px;*/
    /*overflow: hidden;*/
    resize: none;
}

.message .wrap-ri div {
    text-align: right;
    color: #999;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    clear: both;
    /*position: absolute;*/
    bottom: 10px;
    right: 5px;
}

.message .wrap-ri div span {
    display: inline-block;
    line-height: 18px;
    vertical-align: bottom;
    zoom: 1;
}



















.dialog .dialog-footer{
    border-top: 2px solid darkgrey;
    padding: 8px 10px;

}
.dialog .dialog-footer input{
    color: black;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid rgb(193, 205, 205);
    display: inline-block;
    padding: 5px 15px;
    outline: none;
    font-size: 1.6rem;
    box-sizing: border-box;
    transition: 0.5s ease border;
}
.dialog .dialog-footer input:hover, .dialog .dialog-footer input:focus {
    border-color: #73b38a;
}

.dialog-footer button{
    background:#73b38a ;
    color: #FFFFFF;
    width:50px;
    height: 35px;
    border-radius: 3.5px;
}
























.logo{
    position: fixed;
    right: 30px;
    top:20px;
    writing-mode: vertical-lr;
    color:black ;
    font-size: 2.2rem;
    height:700px;
    transition: 3s ease all;
}