<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>

<body>
    <form method="POST" action="/signup">
        <fieldset>
            <legend>注册帐号</legend>
            <label for="username">  用户名：</label>
            <input type="text" id="username" name="username" />
            <label for="password"> 密码：</label>
            <input type="password" id="password" name="password" />
             <label for="nickname"> 昵称：</label>
            <input type="text" id="nickname" name="nickname" />
            <input type="submit" value="提交">
        </fieldset>
    </form>
</body>

</html>